In [1]:
!pip install opendatasets
import opendatasets as od
import pandas as pd
import numpy as np

Requirement already satisfied: opendatasets in c:\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied: kaggle in c:\anaconda3\lib\site-packages (from opendatasets) (1.5.13)
Requirement already satisfied: click in c:\anaconda3\lib\site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: tqdm in c:\anaconda3\lib\site-packages (from opendatasets) (4.64.1)
Requirement already satisfied: colorama in c:\anaconda3\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: python-slugify in c:\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: requests in c:\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.28.1)
Requirement already satisfied: certifi in c:\anaconda3\lib\site-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: six>=1.10 in c:\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: python-dateutil in c:\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: urllib3 in c:\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.26.14)
Requirement already satisfied: text-unidecode>=1.3 in c:\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.4)

In [2]:
ws = pd.read_excel('hackathon_tables.xlsx')
links = pd.DataFrame(ws, columns = ['Link'])

In [3]:
for i, row in links.iterrows():
    url = str(row[0])
    od.download(url)
    if i == 14:
        break

Skipping, found downloaded files in ".\big-startup-secsees-fail-dataset-from-crunchbase" (use force=True to force download)
Skipping, found downloaded files in ".\startup-investments" (use force=True to force download)
Skipping, found downloaded files in ".\company-acquisitions-7-top-companies" (use force=True to force download)
Skipping, found downloaded files in ".\startups-valued-at-1-billion-or-more" (use force=True to force download)
Skipping, found downloaded files in ".\startups" (use force=True to force download)
Skipping, found downloaded files in ".\unicorn-nest-startup-fundraising-dataset" (use force=True to force download)
Skipping, found downloaded files in ".\indian-startup-funding" (use force=True to force download)
Skipping, found downloaded files in ".\pakistan-startup-census" (use force=True to force download)
Skipping, found downloaded files in ".\world-wide-unicorn-startups" (use force=True to force download)
Skipping, found downloaded files in ".\empowering-the-next-wave-of-entrepreneurs" (use force=True to force download)
Skipping, found downloaded files in ".\shark-tank-us-dataset" (use force=True to force download)
Skipping, found downloaded files in ".\shark-tank-india" (use force=True to force download)
Skipping, found downloaded files in ".\producthunt-startups-dataset" (use force=True to force download)
Skipping, found downloaded files in ".\company-ipos-2019-2021" (use force=True to force download)
Skipping, found downloaded files in ".\tech-company-fundings-2020-onwards" (use force=True to force download)

In [4]:
df5 = pd.read_csv('startups/companies.csv')
df5.info()
df5.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196553 entries, 0 to 196552
Data columns (total 44 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   196553 non-null  object
 1   Unnamed: 0.1         196553 non-null  int64
 2   entity_type          196553 non-null  object
 3   entity_id            196553 non-null  int64
 4   parent_id            0 non-null       float64
 5   name                 196531 non-null  object
 6   normalized_name      196527 non-null  object
 7   permalink            196553 non-null  object
 8   category_code        123186 non-null  object
 9   status               196553 non-null  object
 10  founded_at           91227 non-null   object
 11  closed_at            2620 non-null    object
 12  domain               126545 non-null  object
 13  homepage_url         126545 non-null  object
 14  twitter_username     80591 non-null   object
 15  logo_url             110110 non-null  object
 16  logo_width           110110 non-null  float64
 17  logo_height          110110 non-null  float64
 18  short_description    7131 non-null    object
 19  description          92048 non-null   object
 20  overview             126971 non-null  object
 21  tag_list             81452 non-null   object
 22  country_code         87990 non-null   object
 23  state_code           50903 non-null   object
 24  city                 83890 non-null   object
 25  region               196553 non-null  object
 26  first_investment_at  2583 non-null    object
 27  last_investment_at   2583 non-null    object
 28  investment_rounds    2591 non-null    float64
 29  invested_companies   2591 non-null    float64
 30  first_funding_at     31507 non-null   object
 31  last_funding_at      31507 non-null   object
 32  funding_rounds       31707 non-null   float64
 33  funding_total_usd    27874 non-null   float64
 34  first_milestone_at   91699 non-null   object
 35  last_milestone_at    91699 non-null   object
 36  milestones           91699 non-null   float64
 37  relationships        129667 non-null  float64
 38  created_by           155533 non-null  object
 39  created_at           196553 non-null  object
 40  updated_at           196553 non-null  object
 41  lat                  83852 non-null   float64
 42  lng                  83852 non-null   float64
 43  ROI                  726 non-null     float64
dtypes: float64(12), int64(2), object(30)
memory usage: 66.0+ MB

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,...,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,...,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,...,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN,NaN

In [5]:
df5 = df5.drop(columns = ['id','Unnamed: 0.1','entity_type','entity_id','parent_id'])

In [6]:
df5['domain'].unique()

array(['wetpaint-inc.com', 'flektor.com', 'there.com', ..., 'csc.com',
       'top-candidate.com', 'closetcouture.com'], dtype=object)

In [7]:
df5 = df5.drop(columns = ['normalized_name', 'permalink', 'domain'])

In [8]:
df5= df5.drop(columns = ['logo_url','logo_width','logo_height'])

In [9]:
df5.to_csv('data/df_5.csv')

In [10]:
df3 = pd.read_csv('big-startup-secsees-fail-dataset-from-crunchbase/big_startup_secsees_dataset.csv')

In [11]:
df3 = df3.drop(columns = ['permalink'])

In [12]:
df3.to_csv('data/df_1.csv')

In [13]:
df4 = pd.read_csv('startups-valued-at-1-billion-or-more/unicorns.csv')

In [14]:
df4['Company Website'].unique()

array([nan])

In [15]:
df4 = df4.drop(columns = ['Company Website'])

In [16]:
df4.to_csv('data/df_4.csv')

In [17]:
df6 = pd.read_csv('unicorn-nest-startup-fundraising-dataset/funds.csv')

In [18]:
df6 = df6.drop(columns = ['Fund LinkedIn', 'Email format for website','Coincidence of the geography of the fund and its TOP1 invest geofocus'])

In [19]:
df6.to_csv('data/df_6.csv')

In [20]:
df16 = pd.read_csv('500 startups companies.csv', delimiter = ';')

In [21]:
df16.to_csv('data/df_16.csv')

In [24]:
df11 = pd.read_csv('shark-tank-us-dataset/Shark_Tank_US_dataset.csv', encoding='latin-1')

In [25]:
df12 = pd.read_csv('shark-tank-india/Shark Tank India.csv', encoding='latin-1')

In [26]:
df11_12 = df11.merge(df12, how='outer')

In [27]:
df11_12.to_csv('data/df_11_12.csv')

In [28]:
df_15 = pd.read_csv('tech-company-fundings-2020-onwards/tech_fundings.csv')

In [29]:
df_15 = df_15.drop(columns = ['index'])

In [30]:
df_15.to_csv('data/df_15.csv')

In [31]:
df7 = pd.read_csv('indian-startup-funding/startup_funding.csv')

In [32]:
df7 = df7.drop(columns = ['Sr No'])

In [33]:
df7 = df7.drop(columns = ['Remarks'])

In [34]:
df7.to_csv('data/df_7.csv')

In [35]:
df8 = pd.read_csv('pakistan-startup-census/Pakistan Startup Census.csv')

In [36]:
df8.dropna()

,Name,Location,Tagline,Category,Website,Founded,Description
0,Outnet,Karachi Pakistan,Cloud based SaaS platform for planning procur...,Advertising OOH Outdoor Advertising Data an...,http://www.outnet.com.pk,1st September 2014,24Grey is a T4M (technology for marketing) com...
1,7Vals,Lahore Pakistan,Understanding and enabling businesses to impro...,Consulting Rails Product Development UI,http://www.7vals.com,2011,We're changing the way businesses work by maki...
2,92Solution,Lahore Pakistan,92 Solution A Pakistani Company Giving his Pa...,Consulting Website & Software Development,http://92solution.com,7th January 2015,92 Solution is a Software & Website Developmen...
3,A2Z Yellow Pages & Info Services,Lahore,Find local Businesses and Services in Pakistan...,Online Business Directory & Portal,https://www.yp-pak.com,30th January 2017,A2Z| Yellow Pages Pakistan will be the innovat...
5,AbBachao,Karachi Pakistan,Perfect app that updates you with discounts yo...,Application E-commerce,http://www.abbachao.pk/,28th March 2016,Users can search deals as per their liking an...
...,...,...,...,...,...,...,...
426,Yofit,Karachi,Yofit is an online discovery and booking platf...,Fitness,http://www.yofit.pk,15th November 2016,Yofit is an online discovery and booking platf...
427,Yourneeds.pk,Lahore Pakistan,Yourneeds.pk is the easiest way to get anythin...,Delivery Services,http://www.yourneeds.pk/,1st January 2016,Yourneeds.pk will not deliver any haraam into...
428,Yum to Yikes,Islamabad Pakistan,Yum to Yikes aims to inform entertain and gui...,Media/News,http://yumtoyikes.com,1st May 2015,We are a bunch of enthusiastically-creative fo...
429,Zambeel,Multan Pakistan,Online Shopping for Quality Products at lowest...,E-commerce,https://www.zambeel.com,2015,Online Shopping for Quality Products at lowest...
432,Zindagi - Find a Doctor,Lahore Pakistan,A fast simple and secure way to connect docto...,Healthcare,https://www.myzindagi.pk/,12th January 2016,Zindagi is a free service that helps patients ...

In [37]:
df8.to_csv('data/df_8.csv')

In [38]:
df9 = pd.read_csv('world-wide-unicorn-startups/World_Wide_Unicorn_Startups.csv')

In [39]:
df9.to_csv('data/df_9.csv')

In [40]:
df10 = pd.read_csv('empowering-the-next-wave-of-entrepreneurs/company.csv')

In [41]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1000 non-null   int64
 1   company_name        1000 non-null   object
 2   link                999 non-null    object
 3   short_description   993 non-null    object
 4   founded             1000 non-null   int64
 5   team_size           1000 non-null   int64
 6   location            985 non-null    object
 7   country             1000 non-null   object
 8   no_founders         1000 non-null   int64
 9   no_company_socials  1000 non-null   int64
 10  no_tags             1000 non-null   int64
 11  description         969 non-null    object
dtypes: int64(6), object(6)
memory usage: 93.9+ KB

In [42]:
df10 = df10.drop(columns = ['id', 'no_founders', 'no_company_socials', 'no_tags'])

In [43]:
df10.to_csv('data/df_10.csv')

In [44]:
df14 = pd.read_csv('company-ipos-2019-2021/company_ipo.csv')

In [45]:
df14

,ID,IPO Date,Symbol,Company Name,IPO Price,Current,Return
0,1,"Dec 21, 2021",NVAC,NorthView Acquisition,$10.00,$10.03,0.30%
1,2,"Dec 21, 2021",LSPR,Larkspur Health Acquisition,$10.00,$9.98,-0.20%
2,3,"Dec 21, 2021",SAGA,Sagaliam Acquisition,$10.00,$9.97,-0.30%
3,4,"Dec 17, 2021",RCAC,Revelstone Capital Acquisition,$10.00,$9.90,-1.00%
4,5,"Dec 17, 2021",APCA,AP Acquisition,$10.00,$10.11,1.10%
...,...,...,...,...,...,...,...
1760,1761,"Jan 17, 2019",RBKB,Rhinebeck Bancorp,$10.00,$10.61,6.10%
1761,1762,"Jan 9, 2019",BCOW,1895 Bancorp of Wisconsin,$10.00,$10.93,9.30%
1762,1763,"Jan 8, 2019",MDJH,MDJM Ltd.,$5.00,$1.91,-61.80%
1763,1764,"Jan 8, 2019",MTC,MMTec,$4.00,$0.85,-78.73%
1764,1765,"Jan 4, 2019",SXTC,China SXT Pharmaceuticals,$4.00,$0.58,-85.60%

In [46]:
df3 = pd.read_csv('company-acquisitions-7-top-companies/acquisitions_update_2021.csv')

In [47]:
df3

,ID,Parent Company,Acquisition Year,Acquisition Month,Acquired Company,Business,Country,Acquisition Price,Category,Derived Products
0,1,Apple,1988,Mar,Network Innovations,Software,-,-,-,-
1,2,Apple,1988,Jun,Orion Network Systems,Computer Software,-,-,-,-
2,3,Apple,1988,Jun,Styleware,Computer software,-,-,-,-
3,4,Apple,1988,Jul,Nashoba Systems,Computer software,-,-,-,-
4,5,Apple,1989,Jan,Coral Software,Computer software,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...
1450,1451,Citrix,2015,Apr,Grasshopper,Telephone services,United States,-,-,"GoToMeeting, GoToTraining, GoToWebinar, ShareF..."
1451,1452,Citrix,2016,Sep,Norskale,UEM and application performance optimization,France,-,-,"XenApp, XenDesktop"
1452,1453,Citrix,2017,Jan,Unidesk,-,United States,-,-,"XenApp, XenDesktop"
1453,1454,Citrix,2018,Feb,Cedexis,Intelligent traffic management,France,-,-,Citrix ITM
1454,1455,Citrix,2021,Mar,Wrike,Project management,United States,-,-,Citrix Workspace

In [48]:
comp_name = df14['Company Name'].unique()

In [49]:
check = df3['Acquired Company'].isin(comp_name)

In [50]:
check.unique()

array([False])

In [51]:
df1 = pd.read_csv('big-startup-secsees-fail-dataset-from-crunchbase/big_startup_secsees_dataset.csv')

In [52]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   permalink          66368 non-null  object
 1   name               66367 non-null  object
 2   homepage_url       61310 non-null  object
 3   category_list      63220 non-null  object
 4   funding_total_usd  66368 non-null  object
 5   status             66368 non-null  object
 6   country_code       59410 non-null  object
 7   state_code         57821 non-null  object
 8   region             58338 non-null  object
 9   city               58340 non-null  object
 10  funding_rounds     66368 non-null  int64
 11  founded_at         51147 non-null  object
 12  first_funding_at   66344 non-null  object
 13  last_funding_at    66368 non-null  object
dtypes: int64(1), object(13)
memory usage: 7.1+ MB

In [54]:
df5 = pd.read_csv('data/df_5.csv')

In [55]:
df16 = pd.read_csv('data/df_16.csv')

In [56]:
df5 = df5.rename(columns = {'name':'COMPANY NAME'})

comp_name = df16['COMPANY NAME'].unique()

check = df5['COMPANY NAME'].isin(comp_name)

check.unique()

array([False,  True])

In [57]:
df5_16 = df5.merge(df16, how='outer')

df5_16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199416 entries, 0 to 199415
Data columns (total 37 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           199416 non-null  int64
 1   COMPANY NAME         199394 non-null  object
 2   category_code        123186 non-null  object
 3   status               196553 non-null  object
 4   founded_at           91227 non-null   object
 5   closed_at            2620 non-null    object
 6   homepage_url         126545 non-null  object
 7   twitter_username     80591 non-null   object
 8   short_description    7131 non-null    object
 9   description          92048 non-null   object
 10  overview             126971 non-null  object
 11  tag_list             81452 non-null   object
 12  country_code         87990 non-null   object
 13  state_code           50903 non-null   object
 14  city                 83890 non-null   object
 15  region               196553 non-null  object
 16  first_investment_at  2583 non-null    object
 17  last_investment_at   2583 non-null    object
 18  investment_rounds    2591 non-null    float64
 19  invested_companies   2591 non-null    float64
 20  first_funding_at     31507 non-null   object
 21  last_funding_at      31507 non-null   object
 22  funding_rounds       31707 non-null   float64
 23  funding_total_usd    27874 non-null   float64
 24  first_milestone_at   91699 non-null   object
 25  last_milestone_at    91699 non-null   object
 26  milestones           91699 non-null   float64
 27  relationships        129667 non-null  float64
 28  created_by           155533 non-null  object
 29  created_at           196553 non-null  object
 30  updated_at           196553 non-null  object
 31  lat                  83852 non-null   float64
 32  lng                  83852 non-null   float64
 33  ROI                  726 non-null     float64
 34  INDUSTRY             2863 non-null    object
 35  SUB-INDUSTRY         2863 non-null    object
 36  COUNTRY              2863 non-null    object
dtypes: float64(9), int64(1), object(27)
memory usage: 57.8+ MB

In [58]:
df15 = pd.read_csv('data/df_15.csv')

In [59]:
df15 = df15.rename(columns = {'Company':'COMPANY NAME', 'Region':'COUNTRY','Vertical':'INDUSTRY'})

df5_16 = df5_16.rename(columns = {'homepage_url':'Website'})

df_5_15_16 = df5_16.merge(df15, how = 'outer')

In [60]:
df4 = pd.read_csv('data/df_4.csv')

In [61]:
df4 = df4.rename(columns = {'Company':'COMPANY NAME', 'Country':'COUNTRY','Industry':'INDUSTRY'})

df4_5_15_16 = df_5_15_16.merge(df4, how = 'outer')

data = df4_5_15_16

In [62]:
df6 = pd.read_csv('data/df_6.csv')

df6 = df6.rename(columns = {'Fund name':'COMPANY NAME', 'Country':'COUNTRY','Some of TOP industries':'INDUSTRY', 'Fund website':'Website', 'Fund Crunchbase':'Crunchbase Url'})

df4to6 = df4_5_15_16.merge(df6, how = 'outer')

df7 = pd.read_csv('data/df_7.csv')

df7 = df7.rename(columns = {'Startup Name':'COMPANY NAME','Industry Vertical':'INDUSTRY'})

df7['COUNTRY'] = 'India'

df4to7 = df4to6.merge(df7, how = 'outer')

df8 = pd.read_csv('data/df_8.csv')

df8 = df8.dropna()

df8 = df8.rename(columns = {'Name':'COMPANY NAME','Category':'INDUSTRY'})

df8['Location'] = 'Pakistan'

df8 = df8.rename(columns = {'Location':'COUNTRY'})

df4to8 = df4to7.merge(df8, how = 'outer')

df9 = pd.read_csv('data/df_9.csv')

df9 = df9.rename(columns = {'Company':'COMPANY NAME','Industry':'INDUSTRY','Country':'COUNTRY'})

df4to9 = df4to8.merge(df9, how = 'outer')

df10 = pd.read_csv('data/df_10.csv')

df10 = df10.rename(columns = {'company_name':'COMPANY NAME', 'link':'Website', 'country':'COUNTRY'})

df4to10 = df4to9.merge(df10, how = 'outer')

df1 = pd.read_csv('data/df_1.csv')

df1 = df1.rename(columns = {'name':'COMPANY NAME', 'homepage_url':'Website','country_code':'COUNTRY','category_list':'INDUSTRY'})

In [63]:
df4to10.to_csv('dataset.csv')