In [ ]:
!pip install gradio

In [3]:
import gradio as gr
import numpy as np
import pandas as pd
import sqlite3

# Создаем базу данных из датасета

In [4]:
df = pd.read_csv('final_dataset.csv')

C:\Users\Ekaterina\AppData\Local\Temp\ipykernel_1088\4240546656.py:1: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,16,17,18,20,21,25,26,27,33,34,35,36,37,38,39,55) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('final_dataset.csv')

In [5]:
df.head()

,name,name_norm,Website,country_code,city,state_code,status,founded_at,closed_at,first_investment_at,...,TOP_avg_multiplicator,TOP_success_strategy_diversity_index,TOP_follow_on_index,TOP_readiness_take_younger_startups,team_size,employeeRange,followerCount,positionCount,stage,best_company
0,Wetpaint,wetpaint,http://wetpaint-inc.com,USA,Seattle,WA,operating,2005-10-17,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,Flektor,flektor,http://www.flektor.com,USA,Culver City,CA,acquired,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,There,there,http://www.there.com,USA,San Mateo,CA,acquired,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,MYWEBBO,mywebbo,http://www.mywebbo.com,NaN,NaN,NaN,operating,2008-07-26,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,THE Movie Streamer,the movie streamer,http://themoviestreamer.com,NaN,NaN,NaN,operating,2008-07-26,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [6]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [7]:
connection = create_connection("StartUps_DB.db")

create_table_query = f"""
            CREATE TABLE IF NOT EXISTS StartUps_DB(
                id SERIAL PRIMARY KEY,
                {", ".join([f'{column} TEXT' for column in df.columns])}
            );
        """

Connection to SQLite DB successful

In [8]:
df.to_sql('StartUps_DB', connection, if_exists='replace', index=False)

604428

# Запускаем интерфейс Gradio

In [9]:
def query_database(query):
    connection = sqlite3.connect('StartUps_DB.db')
    results = pd.read_sql_query(query, connection)
    df = pd.DataFrame(results)
    connection.close()

    return df

In [10]:
demo = gr.Interface(
    fn=query_database,
    inputs=[
        gr.Textbox(label="SQL query", value="SELECT * FROM StartUps_DB LIMIT 10"),
    ],
    outputs=gr.Dataframe(),
    title="StartUp Database Interactive Query Tool",
    description="Enter SQL query to retrieve data from our SQLite database with StartUps.",
)

if __name__ == "__main__":
    demo.launch(inbrowser=True, share=True)

Running on local URL:  http://127.0.0.1:7860

Could not create share link. Please check your internet connection or our status page: https://status.gradio.app